body {
    font-family:Helvetica, Arial,  sans-serif ;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: antiquewhite;
    color: salmon;
}

.container {
    text-align: center;
}

.container h1 {
    margin-bottom: 20px;
}

.container a {
    display: block;
    margin: 10px;
    padding: 10px 20px;
    background-color: #ac815ab2;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 18px;
    transition: background-color 0.4s;
}

.container a:hover {
    background-color: #4e87c4e1;
}